<div class='container-fluid'>
    <div class="row">

      <div class="col-sm-12">
          <div class="row">
              <div class="col-sm-12">
                <mat-toolbar>
                  <button mat-raised-button color="primary" (click)=openDialogNuevaDroga()>Nueva Droga</button>
                  <button mat-raised-button color="accent">Editar</button>
                  <button mat-raised-button color="warn">Eliminar</button>

                </mat-toolbar>
                </div>
          </div>
        <h3>Drogas</h3>
        <app-tabla-drogas></app-tabla-drogas>
        
      </div>
    </div>