<div class="container">
    <div class="row" >
        <div class="col-sm-12">
            <h3 mat-dialog-title>Nuevo Cliente</h3>
            <mat-divider></mat-divider>

            <form [formGroup]='nuevaDrogaForm' action="" mat-dialog-content (ngSubmit)="save(documentEditForm.form.controls)" #documentEditForm="ngForm">

                <mat-card>
                        <mat-card-header>
                                <mat-card-title>
                                        Identificacion
                                </mat-card-title>
                        </mat-card-header>
                       

                        <div class="row">
                                <div class="col-sm-4" >
                                        <mat-form-field appearance="outline">
                                                <mat-label>Nombre</mat-label>
                                                <input matInput formControlName='nombre' autocomplete="off">
                                                <mat-error *ngIf="this.nuevaDrogaForm.controls.nombre.invalid">{{this.getErrorMessage()}}</mat-error>

                                        </mat-form-field>
                                </div>
                                <div class="col-sm-4" >
                                        <mat-form-field appearance="outline">
                                                <mat-label>Codigo</mat-label>
                                                <input matInput formControlName='codigo' autocomplete="off">
                                                <mat-hint>Ejemplo: CLB-001</mat-hint>
                                                <mat-error *ngIf="this.nuevaDrogaForm.controls.codigo.invalid">{{this.getErrorMessage()}}</mat-error>

                                        </mat-form-field>
                                </div>
                                <div class="col-sm-4" >
                                        <mat-form-field appearance="outline">
                                                <mat-label>Marca</mat-label>
                                                <input matInput formControlName='marca' autocomplete="off">
                                        </mat-form-field>
                                </div>
                        </div>

                        <div class="row">
                                <div class="col-sm-3">
                                        <mat-form-field appearance="outline">
                                                <mat-label>Numero Producto</mat-label>
                                                <input matInput formControlName='nProducto' autocomplete="off">
                                        </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                        <mat-form-field appearance="outline">
                                                <mat-label>Lote</mat-label>
                                                <input matInput formControlName='lote' autocomplete="off">
                                        </mat-form-field>
                                </div>
                                <div class="col-sm-3">
                                        <mat-form-field appearance="outline">
                                                <mat-label>N CAS</mat-label>
                                                <input matInput formControlName='CAS' autocomplete="off">
                                        </mat-form-field>
                                </div>
                                <div class="col-sm-2">
                                        <mat-form-field appearance="outline">
                                                <mat-label>Codigo SENASA</mat-label>
                                                <input matInput formControlName='codigoSenasa' autocomplete="off">
                                        </mat-form-field>
                                </div>
                                 <div class="col-sm-1">
                                        <mat-checkbox formControlName="estandarInterno">SI?</mat-checkbox>
                                </div> 
                        </div>

                </mat-card>

                <mat-card>
                                <mat-card-header>
                                        <mat-card-title>
                                                Informacion
                                        </mat-card-title>
                                </mat-card-header>
                               
        
                                <div class="row">
                                        <div class="col-sm-4">
                                                <mat-form-field appearance="outline">
                                                        <mat-label>Pureza</mat-label>
                                                        <input matInput formControlName='pureza' autocomplete="off">
                                                </mat-form-field>
                                        </div>
                                        <div class="col-sm-4">
                                                <mat-form-field appearance="outline">
                                                        <mat-label>Humedad</mat-label>
                                                        <input matInput formControlName='humedad' autocomplete="off">
                                                </mat-form-field>
                                        </div>
                                        <div class="col-sm-4">
                                                <div class="row">

                                                        <div class="col-sm-7">
                                                                <mat-form-field appearance="outline">
                                                                        <mat-label>Cantidad Recibida</mat-label>
                                                                        <input matInput formControlName='masaCantidadRecibida' autocomplete="off">
                                                                </mat-form-field>    
                                                        </div>
                                                        <div class="col-sm-5">
                                                                <mat-form-field appearance="outline">
                                                                        <mat-label>Unidad</mat-label>
                                                                        <mat-select formControlName="unidadCantidadRecibida">
                                                                                <mat-option *ngFor="let unidad of unidades" [value]="unidad.viewValue">
                                                                                        {{unidad.viewValue}}
                                                                                </mat-option>
                                                                        </mat-select>
                                                                        {{this.nuevaDrogaForm.controls.unidadCantidadRecibida.value}}
                                                                </mat-form-field>  
                                                        </div>
                                                </div>
                                        </div>
                                </div>
        
                                <div class="row">
                                        <div class="col-sm-4">
                                                <mat-form-field appearance="outline">
                                                        <mat-label>F.Recepcion</mat-label>
                                                        <input matInput [matDatepicker]="fRecepcion" formControlName='fRecepcion'>
                                                        <mat-datepicker-toggle matSuffix [for]="fRecepcion"></mat-datepicker-toggle>
                                                        <mat-datepicker #fRecepcion></mat-datepicker>
                                                </mat-form-field>
                                        </div>
                                        <div class="col-sm-4">
                                                <mat-form-field appearance="outline">
                                                        <mat-label>F.Vencimiento Certificado</mat-label>
                                                        <input matInput [matDatepicker]="fVencimientoCertificado" formControlName='fVencimientoCertificado'>
                                                        <mat-datepicker-toggle matSuffix [for]="fVencimientoCertificado"></mat-datepicker-toggle>
                                                        <mat-datepicker #fVencimientoCertificado></mat-datepicker>
                                                </mat-form-field>
                                        </div>
                                        <div class="col-sm-4">
                                                <mat-form-field appearance="outline">
                                                        <mat-label>Libre/Combinada</mat-label>
                                                        <mat-select formControlName="drogaLibre">
                                                                <mat-option value= 'true'>Libre</mat-option>
                                                                <mat-option value= 'false'>Combinada</mat-option>
                                                        </mat-select>
                                                </mat-form-field>
                                        </div>
                                </div>

                                <div class='row' *ngIf= "this.nuevaDrogaForm.controls.drogaLibre.value == 'false'">
                                        <div class="col-sm-4" >
                                                <mat-form-field appearance="outline">
                                                        <mat-label>Masa DL</mat-label>
                                                        <input matInput formControlName='masaDL' autocomplete="off">
                                                </mat-form-field>
                                        </div>
                                        <div class="col-sm-4" >
                                                <mat-form-field appearance="outline">
                                                        <mat-label>Masa DC</mat-label>
                                                        <input matInput formControlName='masaDC' autocomplete="off">
                                                </mat-form-field>
                                        </div>
                                        <div class="col-sm-4" >
                                                <mat-form-field appearance="outline">
                                                        <mat-label>Factor</mat-label>
                                                        <input matInput formControlName='fDLDC'>
                                                </mat-form-field>
                                        </div>
                                </div>

                                <div class='row'>
                                        <div class='col-sm-4'>
                                                <mat-form-field appearance='outline'>
                                                        <mat-label>Sectores</mat-label>
                                                        <mat-select formControlName="sectores" multiple>
                                                        <mat-option *ngFor="let sector of sectores" [value]="sector.viewValue">{{sector.viewValue}}</mat-option>
                                                        </mat-select>
                                                </mat-form-field> 
                                        </div>
                                       
                                        <div class='col-sm-4'>
                                                <mat-form-field appearance='outline'>
                                                        <mat-label>Rubros</mat-label>
                                                        <mat-select formControlName="rubros" multiple>
                                                        <mat-option *ngFor="let rubro of rubros" [value]="rubro.viewValue">{{rubro.viewValue}}</mat-option>
                                                        </mat-select>
                                                </mat-form-field> 
                                        </div>
                                        
                                        <div class='col-sm-4'>
                                                <mat-form-field appearance='outline'>
                                                        <mat-label>Ubicacion</mat-label>
                                                        <mat-select formControlName="ubicacion">
                                                        <mat-option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.viewValue">{{ubicacion.viewValue}}</mat-option>
                                                        </mat-select>
                                                </mat-form-field> 
                                        </div>
                                </div>

                                <div class='row'>
                                                <div class='col-sm-4'>
                                                        <mat-form-field appearance='outline'>
                                                                <mat-label>Estado</mat-label>
                                                                <mat-select formControlName="estado">
                                                                <mat-option *ngFor="let estado of estados" [value]="estado.viewValue">{{estado.viewValue}}</mat-option>
                                                                </mat-select>
                                                        </mat-form-field> 
                                                </div>
                                               
                                                <div class='col-sm-4'>
                                                        <mat-form-field appearance='outline'>
                                                                <mat-label>Rubros</mat-label>
                                                                <mat-select formControlName="rubros" multiple>
                                                                <mat-option *ngFor="let rubro of rubros" [value]="rubro.viewValue">{{rubro.viewValue}}</mat-option>
                                                                </mat-select>
                                                        </mat-form-field> 
                                                </div>
                                                
                                                <div class='col-sm-4'>
                                                        <mat-form-field appearance='outline'>
                                                                <mat-label>Certificados</mat-label>
                                                                <mat-select formControlName="certificados">
                                                                <mat-option *ngFor="let certificado of certificados" [value]="certificado.viewValue">{{certificado.viewValue}}</mat-option>
                                                                </mat-select>
                                                        </mat-form-field> 
                                                </div>
                                        </div>

                                        <div class='row'>
                                                <div class= 'col-sm-12'>
                                                        <mat-form-field appearance='outline'>
                                                                <mat-label>Observaciones</mat-label>
                                                                <textarea matInput placeholder="Informacion extra" formControlName="observaciones"></textarea>
                                                        </mat-form-field> 
                                                </div>
                                        </div>
                        </mat-card>

                
   


            </form>

            <mat-dialog-actions>
                    <button mat-raised-button color="primary" mat-dialog-close (click)="documentEditForm.ngSubmit.emit()"
                    [disabled]="!documentEditForm.form.valid">Aceptar</button>
                    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
                    <button mat-button [mat-dialog-close]="true">Cancelar</button>
            </mat-dialog-actions>

        </div>
    </div>
</div>