mat-sidenav {
    width: 12%;
    
}
.mat-toolbar-row {
 height: 12vh !important;
}
mat-sidenav-container {
    height: 88vh !important;
}

mat-sidenav-container .mat-expansion-panel-body {
    padding-bottom: 0px !important
}

.active-link {
    font: bold;
    background-color: darkgray;
}

a:hover{
    background-color: thistle;
}